# Dependencies
node_modules/
Backend/node_modules/
FrontendNew/node_modules/

# Environment Files
.env
.env.*
Backend/.env
FrontendNew/.env

# Logs
*.log
Backend/backend.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Files
dist/
build/
coverage/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Render / Vercel
.vercel/
.render/

# Misc
*.tmp
*.cache